:root {
    --background-image: url("/cdn/eco-services-status/cubes-light.png");    
    --body-background-color: #ffffff;
    --body-text-color: #f0ffff;
    --card-background-color: #002b29;
    --nav-background-color: #e9ecef;
    --nav-border-bottom-color: #4c4c4c;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    background-image: var(--background-image);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
